<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <!-- <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none"> -->
      <span class="fs-2" style="font-family: 'Montserrat'; font-weight: 400; font-size: 20pt;">Uri Sherman</span>
    <!-- </a> -->
      <span class="d-flex align-items-center text-decoration-none">
        <span style="font-weight: 400;"> urisherman 
          <span style="font-weight: 300; font-size: 10pt; ">&nbsp;at&nbsp;</span> 
          mail 
          <span style="font-weight: 300; font-size: 10pt; ">&nbsp;dot&nbsp;</span> 
          tau
          <span style="font-weight: 300; font-size: 10pt; ">&nbsp;dot&nbsp;</span> 
          ac
          <span style="font-weight: 300; font-size: 10pt; ">&nbsp;dot&nbsp;</span> 
          il
        </span>
      </span>
        
  </div>

</header>
