$backgroundColor: #ffffff;
$bodyColor: #000000;
$linkColor: #2a93de !important;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family:'Lato'; 
}

body a {
  color: $linkColor
}

// .square {
//   content: "";
//   display: inline-block;
//   margin: 0px 3px 0px 0px;
//   height: 10px;
//   width: 10px;
//   background-color: #555;
// }

.s-text { 
  font-weight: 300; font-size: 12pt;
  font-family: var(--bs-font-sans-serif);
}

.s-h2 {
  font-weight: 450; font-size: 18pt;
}

.s-pub {
  font-size: 13pt; font-weight: 500; 
}

.s-pub-auth {
  font-size: 13pt; font-weight: 300; 
  // font-style: italic;
}

.s-pub-conf {
  font-size: 12pt; font-weight: 350;
}
.s-pub-a {
  font-size: 12pt; font-weight: 300; 
}




.s-teach {
  font-size: 12pt; font-weight: 300; 
}



// ul {
//   padding-left: 1.3rem;
// }